<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sites">Sites</a>
            </li>
        </ul>
    </nav>
</header>